<div class="modal-wrapper">

    <div class="modal-header">
        <h4 class="modal-title">Login to Bloc Chat</h4>
    </div>

    <div class="modal-body">
        <div class="input-group">
            <input type="text" style="margin-bottom: 10px;" class="form-control" placeholder="Username..." ng-model="userName">
            <input type="text" class="form-control" placeholder="Password..." ng-model="userName">
        </div>
    </div>

    <div class="modal-footer">
        <span class="btn-group">
            <button class="btn btn-primary" ng-click="newUser(userName)">Enter</button>
        </span>
    </div>

</div>
